body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.requests{
  cursor: pointer;
}

li.requests:hover{
  background-color: rgba(0, 204, 255, 0.1) !important;
}

.customer-row, 
.executor-row{
  cursor: pointer;
}

.single-request{
  cursor: pointer;
}

.single-request:hover{
  text-decoration: underline !important;
}

.requests-list{
  margin-top: 2rem;
}

.requests-list h3{
  color: gold;
}

.requests-list h5{
  color: wheat;
}

.requests-list .card{
  background-color: rgb(52 58 64) !important;
}

.requests-list .card .card-body{
  color: #dddddd;
}